<div class="content">
  <div class="center flex-container">
    <div >
      <img class="roundimg w-500" src="assets/abhishek.jpeg" alt="" />
    </div>
    <div class="m-t-80">
      <h2>Hi</h2>
      <p>
        I’m a passionate software developer who loves to build and deploy
        innovative solutions. Always eager to learn new technologies, I focus on
        creating efficient, scalable applications and ensuring smooth deployment
        processes. Continuously growing my skill set, I aim to deliver
        high-quality, user-centered solutions.
      </p>
    </div>
  </div>

  <app-footer></app-footer>
</div>
